*{
    box-sizing: border-box;
    text-align: center;
    line-height: 2;
    /* margin: 0% auto; */
    /* border:1px solid black; */
}

/* ah ha moment is finally figuring out margin  */

#clickable-links{
    padding: 1px ;
    border: 1px solid white;
    background-color: rgb(53,18,35);
}

header{
    background-color: #800020;
    height: 45%;
    max-width: 45%;
    margin: 0 auto;
    
}


nav{
    background-color: teal;
    margin-top: 10px;
}

.title-words{
    width: 45%;
    height: 45%;
     padding: 9px;
    background-color: #800020 ;
    box-sizing: border-box;
    margin: 0 auto;

}


body{
    color: aqua;
    /* background-color: #123524 ; */
    background-image:  url("./images/IMG_E2698.JPG");
    /* taken by myself in some mountain resort */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: "Coming Soon", cursive, Arial, Helvetica, sans-serif;
}

body span{
    color: red;
    font-weight: 900;

}

p{
    text-indent: 50px;
}

ol li{
    list-style-position: inside;
    list-style-position: 50;
}

ul li{
    text-decoration: underline;
    font-weight: bolder;
    font-style: oblique;
    border: color 4px violet;
    list-style-position: inside;
}

figure figcaption{
    background-color: #123524 ;
    margin: 0 auto;
    width: fit-content;
}

section{
    background-color: rgb(53,18,35);
    width: 45%;
    height: 45%;
    margin: 0 auto;
}

footer{
    background-color: #003153  ;
    height: 45%;
    width: 45%;
    margin: 0 auto;
}

.clickable-photos{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 7px black;
    background-color: white;
    box-sizing: border-box;
}



a:link{
    color:violet
    /* change color */
}

a:visited{
    color: orange
}

.cole-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* definetly will be messing around with this later. */
